<div
  class="page-header page-header-xs"
  data-parallax="true"
  style="background-image: url('./assets/img/common/canal-landscape-2.jpg')"
>
  <div class="filter"></div>
</div>
<br /><br />

<h2 class="heading">ABOUT US</h2>
<br />
<!-- ------------------------------------- -->
<div class="tagging-one"></div>
<!-- -------------------------------- -->
<div class="desc">
  <h2>WHO <span> WE ARE </span></h2>
  <h3>
    To achieve harmony with land, we need to respect it and compliment it with a
    structure that does justice to its aura
  </h3>
  <p>
    GENERIC - the name gives us an identity as it defines our ability to look at
    things in an equal manner and gel with any element effortlessly. With this,
    we have kept a culture of assimilating client’s mindset & blending with
    their distinctive requirements, so that we can devise ideas that will make
    us grow along with our clients. Generic Engineering Construction and
    Projects Limited was incorporated in 1994. However, our journey has begun
    long before. ‘Bringing a significant difference in everyone’s life’ was a
    constant dream that our chairwenc ouragedasman Mr Ravilal Patel in 1965 tocd
    tread a path that undulating at the beginning. The initial days were wisely
    invested in setting up a solid foundation to withstand the promise that he
    made to the mankind. The early 80s witnessed long cherished dream taking
    shape with the company unfurling a list of quality projects in & around
    Mumbai & Navi Mumbai. The purpose was noble, the vision was clear & there
    was no looking back again. Now, it’s been over 5 decades, things have
    evolved, but the vision that we put forward still remains the same. GENERIC
    is a Public Limited Company which is indexed on Bombay Stock Exchange (BSE)
    and National Stock Exchange (NSE).
  </p>
</div>
<br />
<div class="vision-top">
  <div class="vision">
    <h2>VISION</h2>
    <P
      >We at GENERIC have pledged to endow our clients with the
      <b> finest quality of construction services. </b> Our aim is to accomplish
      enhanced customer satisfaction which is driven by continual improvement as
      our tool. Our vision is to deliver all round results and create a new
      benchmark with every new project.</P
    >
  </div>
  <img src="./assets/img/all_astro/crane-red-sky.jpg" class="vision-image" />
</div>
<div class="vision-top">
  <img src="./assets/img/all_astro/crane-red-sky.jpg" class="vision-image" />

  <div class="vision">
    <h2>VISION</h2>
    <P
      >We at GENERIC have pledged to endow our clients with the
      <b> finest quality of construction services. </b> Our aim is to accomplish
      enhanced customer satisfaction which is driven by continual improvement as
      our tool. Our vision is to deliver all round results and create a new
      benchmark with every new project.</P
    >
  </div>
</div>
<br />
<br />
<div class="logo">
  <div class="logo-1">
    <p class="who-are-we">WHO ARE ARE</p>
    Aspirant Builders <br />
    Dedicated Strivers <br />
    Phenomenal Creators <br />
    Technology Inventors <br />
    Innovation Founders
  </div>
  <div class="logo-2">
    <p class="who-are-we">WHO ARE ARE</p>
    Aspirant Builders <br />
    Dedicated Strivers <br />
    Phenomenal Creators <br />
    Technology Inventors <br />
    Innovation Founders
  </div>
  <div class="logo-3">
    <p class="who-are-we">WHO ARE ARE</p>
    Aspirant Builders <br />
    Dedicated Strivers <br />
    Phenomenal Creators <br />
    Technology Inventors <br />
    Innovation Founders
  </div>
</div>
<br />
