<div class="image-front">
  <img src="./assets/img/common/office-1.jpeg" alt="pokemon image" />
  <h2>Delivering Quality</h2>
</div>

<br />

<div class="first flex-col">
  <div class="logo">
    <img src="./assets/img/all_astro/gold-medal.png" />
  </div>
  <div class="secret">
    <!-- <h4>ABOUT</h4> -->
    <!-- <div class="highlight-about"></div> -->
    <H2><span> SECRET </span> OF SUCESS OF <SPAN> OUR PROJECTS </SPAN> </H2>
  </div>
  <div class="know">
    <h5>
      OSS Construction and Projects Limited is presently scaling up under the
      unmatched leadership of Mr.Ramesh Kumar, Mr. Vijay Kumar and Mr. Yogesh
      Shrivashtava. We originated to bring a change in everyone's life. OSS
      is a Pvt Limited.
    </h5>
  </div>
</div>
<div class="second flex-col">
  <div class="complete">
    <img src="./assets/img/common/thumbs-up.png" />
    <h3>Projects completed</h3>
  </div>
  <div class="experience">
    <img src="./assets/img/all_astro/opinion.png" />
    <h3>Years of experience</h3>
  </div>
  <div class="clients">
    <img src="./assets/img/all_astro/builder.png" />
    <h3>Happy Clients</h3>
  </div>
</div>

<div class="section-p margin-3d" id="yellow">
  <div class="object-in-3d float-center" id="floater"></div>
  <div class="content">
    <h4>S E R V I C E S</h4>
    <div class="head">WHAT WE DO</div>
    <div class="object">
      <div class="index">
        <img src="./assets/img/all_astro/building.png" />
      </div>
      <div class="body">ENGINEERING PROCUREMENT AND CONSTRUICTON</div>
    </div>

    <div class="object">
      <div class="index">
        <img src="./assets/img/all_astro/builder.png" />
      </div>
      <div class="body">GENERAL CONTRACTING</div>
    </div>

    <div class="object">
      <div class="index">
        <img src="./assets/img/all_astro/search.png" />
      </div>
      <div class="body">PMC</div>
    </div>
  </div>
  <div class="content right-content">
    <h4>S E R V I C E S</h4>
    <div class="head">WHAT WE DO</div>
    <div class="object">
      <div class="index">
        <img src="./assets/img/all_astro/building.png" />
      </div>

      <div class="body">ENGINEERING PROCUREMENT AND CONSTRUICTON</div>
    </div>

    <div class="object">
      <div class="index">
        <img src="./assets/img/all_astro/builder.png" />
      </div>
      <div class="body">GENERAL CONTRACTING</div>
    </div>

    <div class="object">
      <div class="index">
        <img src="./assets/img/all_astro/search.png" />
      </div>

      <div class="body">GENERAL CONTRACTING</div>
    </div>
  </div>
</div>
<br />
<div class="boxes">
  <div class="box">
    <img src="./assets/img/all_astro/highway.png" alt="pokemon image" />
    <h5>Industrial</h5>
  </div>
  <div class="box">
    <img src="./assets/img/all_astro/infra.png" alt="pokemon image" />
    <h5>Goverment Infrastructure</h5>
  </div>
  <div class="box">
    <img src="./assets/img/all_astro/residen.png" alt="pokemon image" />
    <h5>Commercial Space</h5>
  </div>
</div>

<br />
<div class="boxes">
  <div class="box">
    <img src="./assets/img/all_astro/crane-blue-sky.jpg" alt="pokemon image" />
    <h5>Health & Leisure</h5>
  </div>
  <div class="box">
    <img src="./assets/img/all_astro/steel_works.png" alt="pokemon image" />
    <h5>Eductional Institute</h5>
  </div>
  <div class="box">
    <img
      src="./assets/img/all_astro/road_properties.webp"
      alt="pokemon image"
    />
    <h5>Special Projects</h5>
  </div>
</div>
<br />
<br />
<div class="valued-clients">
  <div class="valued-clients-slide-show">
    <img src="./assets/img/all_astro/nbcc.png" />
  </div>
  <div class="valued-clients-slide-show">
    <img src="./assets/img/all_astro/nhai_logo.png" />
  </div>
  <div class="valued-clients-slide-show">
    <img src="./assets/img/all_astro/punj-logo.png" />
  </div>
</div>

